[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/colorchestra/smol
[submodule "themes/simple-hugo-theme"]
	path = themes/simple-hugo-theme
	url = https://github.com/gabr1sr/simple-hugo-theme
